<div class="nav-wrapper">
  <a href="/forum" class="nav-title">Jake's Forum</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/hotels/new"> + Start a Topic</a></li>
  </ul>
</div>
