<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <nav>
      <%- include ./partials/nav.ejs %>
    </nav>

    <div class="row">
      <% topics.forEach((topic) => { %>
        <h1><%= topic.title %></h1><
      <% }); %>
    </div>

  </body>
</html>
